<div class="container">
    <br>
    <h1 *ngIf="baseEditar">
        Editar auditoría
    </h1>
    <h1 *ngIf="!baseEditar">
        Nueva auditoría
    </h1>
    <form [formGroup]="form" (submit)="save()">
        <!-- <div  layout="column"> -->
        <mat-form-field style="width: 70%;">
            <mat-label>Prestador</mat-label>
            <input matInput [matAutocomplete]="auto" formControlName="prestadores">
            <!-- aria-label="State" -->
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let state of Prestadores" value="{{state._id}}" (click)="guardarUGL(state.C_UGL)">
                    <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                    <span>{{state.D_PRESTADOR}}</span> |
                    <small>UGL: {{state.C_UGL}}</small> |
                    <small>Localidad: {{state.C_LOCALIDAD_PAMI}}</small> |
                    <small>Nro Sap: {{state.N_SAP}}</small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>


        <mat-form-field>
            <mat-label>Fecha:</mat-label>
            <!-- <input [matDatepicker]="basicDatepicker" formControlName="fechaReal">
            <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker></mat-datepicker> -->

            <input matInput type="date" formControlName="fechaReal" placeholder=" ">

            <!-- <input matInput [matDatepicker]="picker2" formControlName="fechaReal"> -->
            <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker> -->
        </mat-form-field>
           
        <mat-form-field>
            <mat-label>Referente de equipo</mat-label>
            <mat-select formControlName="usuarios">
                <mat-option *ngFor="let usuario of usuarios" value="{{usuario._id}}">

                    <span>{{usuario.nombre}}</span> |
                    <small>Legajo: {{usuario.legajo}}</small> |
                    <small>Profesion/es: {{usuario.profesion}}</small>
                </mat-option>
            </mat-select>
        </mat-form-field>
           
        <mat-form-field>
            <mat-label>Tipo de informe</mat-label>
            <!-- <input matInput formControlName="plantillaInforme" placeholder="II nivel"> -->
            <mat-select formControlName="plantillasInformes">
                <mat-option *ngFor="let plantilla of PlantillasInformes" value="{{plantilla._id}}">
                    {{plantilla.mostrar}}
                </mat-option>
            </mat-select>
        </mat-form-field>
           
        <mat-form-field>
            <mat-label>Modalidad</mat-label>
            <!-- <input matInput formControlName="plantillaInforme" placeholder="II nivel"> -->
            <mat-select formControlName="modalidad">
                <mat-option value="A distancia" >
                    A distancia
                </mat-option>
                <mat-option value="Presencial">
                    Presencial
                </mat-option>
            </mat-select>
        </mat-form-field>
           
        <mat-form-field>
            <mat-label>Número de GDE</mat-label>
            <!-- <input matInput formControlName="plantillaInforme" placeholder="II nivel"> -->
            <input matInput formControlName="GDE">
        </mat-form-field>
         
        <mat-form-field>
            <mat-label>¿Tiene SIUP?</mat-label>
            <!-- <input matInput formControlName="plantillaInforme" placeholder="II nivel"> -->
            <mat-select >
                <mat-option value="A distancia" >
                    SI
                </mat-option>
                <mat-option value="Presencial">
                    NO
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>


        <mat-label>Integrantes</mat-label>
        <button mat-icon-button type="button" (click)="addSubElemento()">
            <mat-icon>add</mat-icon>
        </button>
        <div formArrayName='integrantes'>
            <div *ngFor="let item of getSubelementos.controls; let pointIndex= index" [formGroupName]='pointIndex'>

                <mat-grid-list cols="{{16}}" rowHeight="55px" gutterSize="5px">
                    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">


                    </mat-grid-tile> -->

                    <mat-grid-tile [colspan]="1" [rowspan]="1">

                        <a mat-icon-button type="button" (click)="deleteSubElemento(pointIndex)">
                            <mat-icon>remove</mat-icon>
                        </a>

                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="5" [rowspan]="1">

                        <mat-form-field style="text-align: left">
                            <mat-label> Area </mat-label>
                            <mat-select formControlName="secciones">
                                <mat-option *ngFor="let SubOpc of Area" value="{{SubOpc._id}}">
                                    {{SubOpc.mostrar}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="5" [rowspan]="1">
                        <mat-form-field style="text-align: left; width: 100%;">
                            <mat-label> Usuario </mat-label>
                            <mat-select formControlName="usuarios">
                                <mat-option *ngFor="let usuario of usuarios" value="{{usuario._id}}">

                                    <span>{{usuario.nombre}}</span> |
                                    <small>Legajo: {{usuario.legajo}}</small> |
                                    <small>Profesion/es: {{usuario.profesion}}</small>
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="5" [rowspan]="1">
                        <mat-slide-toggle [color]="['primary']" class="container" formControlName="responsable">
                            Responsable
                        </mat-slide-toggle>
                    </mat-grid-tile>


                </mat-grid-list>
                <hr>



            </div>
        </div>

        <br>


        <button mat-raised-button (click)="cancelar()" style="margin-right: 1rem;" color="primary">
            Cancelar
        </button>
        <button mat-raised-button color="primary" style="margin-right: 1rem;" type="submit" [disabled]="!form.valid">
            Guardar
        </button>

        <!--[routerLink]="['/private']" </div> -->
    </form>
</div>
