<ng-template style="margin: 5%;" #Auditoria>
  <div class="container">
    
    <button mat-flat-button style="margin-top: 5px;" (click)="flagAuditoria = true" color="primary">
      Volver
    </button>
  </div>
      <t-e-informeauditorias [base]="auditoriaSelecionada">
      </t-e-informeauditorias>






  <div class="container">
    <br>
    <button mat-flat-button (click)="flagAuditoria = true" color="primary">
      Volver
    </button>
  </div>
  <!--     
    <pre>  {{auditoriaSelecionada |json}} </pre> -->

</ng-template>



<div style="margin: 5%;" *ngIf="flagAuditoria; else Auditoria">


  <h1>Auditorías</h1>



  <div style="text-align: right; margin-right: 5%;">

    <button mat-flat-button [routerLink]="['/nueva_auditoria']" color="primary">
      Nueva auditoría
    </button>
     
  </div>


  <app-tabla-gen [base]="['auditorias']" [columnas]="['fechaReal,prestadores,UGL,estado,cumplimiento,GDE']"
    [columnasDesc]="['Fecha de auditoria,Prestador,UGL,Estado,Cumplimiento,GDE']"
    (idElejido)="auditoriaElejida($event )"></app-tabla-gen>




</div>






<ng-template #elseBlock>

  <div style="margin: 5%;">
    <!-- <h1>Auditorias</h1>




        <div style="text-align: right; margin-right: 5%;">
            <mat-icon [routerLink]="['/nueva_auditoria']" style=" font-size: 50px; color:rgba(63, 81, 181, 1);">
                add_circle_outline
            </mat-icon>

        </div>



        <t-e-auditorias (idElejido)="auditoriaElejida($event )">

        </t-e-auditorias>

 -->




    <!-- <div>

            <div style="display: flex; padding: 20px;">

                <div layout="column" style="padding: 20px;">
                  <h5>
                    Auditorias al prestador
                  </h5>
                  <div style="background-color: rgba(100, 100, 100, 0.26); padding-left: 5px;">
                    Fecha
                    <pre style='display:inline'> &#09;</pre>
                    <pre style='display:inline'> &#09;</pre>
                    Puntaje
                  </div>
                  <div flex style="padding-left: 5px;" *ngFor="let e of element['otrasAuditorias']">
    
                    {{ e['fechaReal'] |date:"dd/MM/yyyy"}}
                    <pre style='display:inline'> &#09;</pre>
                    10    
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <circle cx="6" cy="6.5" r="6" fill="green" />
                    </svg>
    
                  </div>
    
                </div>
    
    
    
    
    
                <div layout="column">
    
    
    
                  <div class="example-action-buttons">
                    <button mat-button (click)="accordion.openAll()">Expand All</button>
                    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
                  </div>
                  <mat-accordion class="example-headers-align" multi>
    
                    <mat-expansion-panel *ngFor="let s of element['plantillasInformes']['secciones'] ">
    
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ s['secciones']['hojas'][0]['hojas']['mostrar'] }}
                        </mat-panel-title>
                        <mat-panel-description>
    
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <hr>
                      <div *ngFor="let items of s['secciones']['hojas'][0]['hojas']['items']">
    
                        <h6>
                          {{ items['items']['mostrar'] }}
                        </h6>
    
                        <div *ngFor="let subitems of items['items']['subitems']">
    
                          <div>
                            {{ subitems['subitems']['mostrar'] }}
                          </div>
    
                        </div>
                        <hr>
                      </div>
    
                    </mat-expansion-panel>
    
    
                  </mat-accordion>
                </div>
    
              </div>





        </div> -->





    <!-- Tablero del usuario -->

  </div>
</ng-template>


<div *ngIf="prestador; else elseBlock">
  <!-- <div *ngIf="prestador && !flagCrearInforme"> -->


  <!-- <div mat-card-avatar class="example-header-image"></div> -->
  <mat-card class="example-card">
    <div class="container">
      <div class="row">

        <mat-card-header>

          <mat-card-title>
            <h2>{{prestador}}    </h2>
          </mat-card-title>
          <!-- </div> -->

          <!-- <div class="row justify-content-md-right" > -->
          <mat-card-subtitle>
            <h4>{{nombre}}</h4>
            <p>
              {{date}}
            </p>

          </mat-card-subtitle>


        </mat-card-header>

        <div class="col" *ngIf="!flagInforme">
          <div class="row" *ngIf="!flagInforme">
            <br>
            <img mat-card-image src="https://k60.kn3.net/taringa/2/1/0/0/3/0/23/steam_/910.jpg"
              alt="Direccion del prestador" style="width:  250px">

            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorum magnam omnis
                rerum,
                id
                ut
                quibusdam modi ratione! Possimus vel qui in optio provident eum culpa accusantium omnis
                delectus
                dolorum?
              </p>
            </mat-card-content>
          </div>


        </div>

        <div class="col" *ngIf="flagInforme">
          <tabla-expandible></tabla-expandible>
        </div>
      </div>
    </div>
    <mat-card-actions>
      <button mat-button (click)="verInforme()">
        <div *ngIf="!flagInforme">Ver hojas del informe</div>
        <div *ngIf="flagInforme">Ver caratula del prestador</div>
      </button>
      <button mat-button *ngIf="flagInforme">Editar</button>
    </mat-card-actions>
  </mat-card>



</div>

<!-- flagCrearInforme
{{flagCrearInforme}}


<div *ngIf="flagCrearInforme">


aaaaaaaaaaaaaaaaa

</div> -->