.example-action-buttons {
    padding: 20px;
    text-align: right;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: auto;
    
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
    
  }

  #textbox {
    display: flex;
    justify-content: space-between;
   
}

mat-toolbar {
  --default-height: 0;
}

/* mat-toolbar[color="primary"] {
  top: 0;
  position: fixed;
  height: var(--default-height);
  z-index:10;
}

mat-toolbar[color="warn"] {
  position: sticky;
  top: var(--default-height);
  z-index:10;
} */

mat-toolbar[color="primary"] {
  top: var(--default-height);
  position: sticky;
  /* height: var(--default-height); */
  z-index:10;
}

#frugalmap {
  height: 300px;
  background-color: #EEE;
}

.example-spacer {
  flex: 1 1 auto;
}







.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
